@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #333545;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  display: grid;
  width: 114em;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
  margin-top: 100px;
}

.block-item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0.2s;
  border-radius: 2rem;
}

.block-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.8);
}

.movie-poster {
  /* display: block; */
  width: 100%;
  height: 50rem;
  object-fit: cover;
}

.movie-content {
  padding: 3rem;
}

.blockHeader {
  font-size: 3rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
}

.movie-text {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 2.5rem;
  height: 200px;
  overflow: hidden;
}

.click-btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #eee;
  background-color: crimson;
  border: none;
  border-radius: 2rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.1rem;
}

.click-btn span {
  margin-left: 1rem;
  transition: 0.2s;
}

.click-btn:hover,
.click-btn:active {
  background-color: #681a2f;
}

.click-btn:hover span,
.click-btn:active span {
  margin-left: 1.5rem;
}

/* @media only screen and (max-width: 60em) {
  body {
    padding: 3rem;
  }

  .grid {
    grid-gap: 3rem;
  }
} */
.nav {
  position: absolute;
  margin-top: -80px;
  display: flex;
  justify-content: space-between;
  width: 84%;
  color: #cccccc;
  font-size: 22px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.movie-card {
  display: flex;
  justify-content: space-between;
}
.movie-details {
  display: flex !important;
  color: #cccccc;
}
.block-cardClick {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 20px;
  color: #cccccc;
}
